#site_footer{
    background-image: url("/img/footer-bg.jpg");
    background-size: cover;
    position: relative;
    div.container{
        padding: 0;
        margin-bottom: 20px;
        div.list_wrapper{
            display: flex;
            align-items: center;
            padding: 50px 0;
        }
        ul{
    
            li:first-child{
                text-transform: uppercase;
                color: white;
                font-weight: 800;
                font-size: 1.4rem;
            }
            li{
                color: grey;
                list-style: none!important;
            }
        }
        div.copyright{
            color: grey;
            width: 50%;
            span{
                color: $secondary;
            }
        }

    }
    div.logo{
        position: absolute;
        right: 10%;
        top: -10%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        img{
            height: 120%;
        }
    }
    nav.nav-bottom{
        position: relative;
        background-color: rgb(46, 46, 46);
        z-index: 1;
        height: 100px;
        align-items: center;
        justify-content: space-around;
        div.sign-up{
            color: white;
            text-transform: uppercase;
            border: 5px solid $secondary;
            padding: 10px;
            font-weight: 800;

        }
        div.social{
            color: $secondary;
            text-transform: uppercase;
            align-items: center;
            font-weight: 900;
            font-size: 1.3rem;
            ul{
                display: flex;
                li{
                    list-style: none;
                    i{
                        color: rgb(46, 46, 46);
                        margin: 10px;
                        padding: 10px;
                        background-color: grey;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}